/*Estilos para el navbar con color de fondo */
.navbar{
    background-color: #ffdead;
    padding: 10px 0; /*Espacio interno arriba del contenido del navbar */
    text-align: center; /*Centar el contenido del navbar */
    font-weight: bold; /*Para poner negrita la letra */
}

.titulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

